

  
  .main__container {
   
    margin-inline: auto;
     
  }
  
  /* Marquee styles */
  .marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);

  }
  
  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
  }
 
  .marquee__content > * {
    flex: 0 0 auto;
    border-radius: 0.25rem;
    text-align: center;
  }
  
  .marquee__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul { padding-left: 0; }
  

  @keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-100% - var(--gap))); }
  }

  /* Enable animation */
.enable-animation .marquee__content {
    animation: scroll 20s linear infinite;
  }